DATABASE_URL=           # MySQL database connection url, REQUIRED for prisma to generate code

DATABASE_NAME=          # MySQL database name
DATABASE_PORT=          # MySQL database port
DATABASE_HOST=          # MySQL database host
DATABASE_PASSWORD=      # MySQL database password
DATABASE_USER=          # MySQL database user

JWT_ACCESS_TOKEN_SECRET=        # JSON Web Token Access Token, really long secret hash 
JWT_REFRESH_TOKEN_SECRET=       # JSON Web Token, really long secret hash
FASTIFY_COOKIES_SECRET=         # @fastify/cookies secret, for cookies

REDIS_PASSWORD=     # Your Redis password
REDIS_PORT=         # Your Redis port, if you're using the entire Bahoot repo, it's 6379
REDIS_HOST=         # Your Redis host, if you're using the entire Bahoot repo, it's 127.0.0.1
REDIS_USERNAME=     # Your Redis username, if you're using the entire Bahoot repo, it's default
# This project uses dotenv-expand, so this is proper format for ease of usability
REDIS_URL=redis://${REDIS_USERNAME}:${REDIS_PASSWORD}@${REDIS_HOST}:${REDIS_PORT} 

WEBSITE_URI=        # Your website URI for SPA website, eg bahoot.local